{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="/assets/css/root.css">

{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hcl-hero-2.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/hcl-hero-2.jpg">
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/hcl-hero-2.jpg"
            alt=""
            loading="eager"
            width="2500"
            height="1667"
        >
    </picture>

    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Blog</span>

            <h1 class="cs-title">Exterior Tips & Tricks</h1>

            <p class="cs-text">
                See what our customers have to say about our roofing, siding, and exterior work. We're proud to earn trust through quality work, honest communication, and lasting results. 
            </p>

            <div class="cs-button-group">
                <a href="#projects" class="cs-button-solid">
                   Get a Free Inspection
                </a>

                <a href="/contact/" class="cs-button-transparent">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
</section>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async">
                        </picture>
                        <span class="blog-author">{{ author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}